
body {
  width: 100%;
  height: 100%;
  color: black;
  background: linear-gradient(
    to bottom,
    rgba(180, 179, 224, 1),
    rgba(148, 147, 204, 1)
    );
    
  /* background: linear-gradient(to bottom, rgba(100, 99, 158, 1), rgba(148, 147, 204, 1)); */
  /* background-color: rgba(240, 240, 240, 255); */
  /* background-color: rgba(204, 201, 147, 255); */
  /* background-color: rgba(120, 119, 184, 255); */
  /* background-color: rgba(170, 169, 214, 255); */
  /* background-color: rgba(148, 147, 204, 255); */
  /* background-color: rgba(255,255,255,255); */
  /* background-color: rgba(7,7,57,255); */
}
